.hexapawn {
  display: grid;
  grid-template-columns: 25rem 25rem 1fr;
  text-align: center;
  bottom: 1rem;

  .td {
    text-align: center;
  }

  .th, .td {
    padding: 0.5rem;
  }

  .board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;

    svg {
      &.white {
        color: rgb(255, 255, 255)
      }

      &.black {
        color: rgb(0, 0, 0)
      }
    }

    .field {
      background-color: rgb(128, 128, 128);
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;

      &.available {
        background-color: #57c08c;
      }

      &.selected {
        background-color: #5796c0;
      }
    }
  }

  .center {
    .board {
      padding-top: 5rem;
      width: 20rem;
      height: 20rem;

      svg.pawn {
        width: 4rem;
      }
    }
  }

  .right {
    text-align: left;

    .header {
      font-size: x-large;
      font-weight: bolder;
    }

    .header-2 {
      margin-top: 1rem;
      font-weight: bolder;
    }

    .bot-boards {
      display: flex;
      flex-wrap: wrap;

      .board {
        padding: 1rem;
        width: 10rem;
        height: 10rem;

        svg.pawn {
          width: 2rem;
        }
      }

      .board-entry.selected {
        background-color: #ccffcc;

        .move.selected {
          background-color: green;
        }
      }
    }

    .settings-controls {
      display: flex;

      & > div {
        margin: 1rem 1rem;
      }
    }
  }
}


@media only screen and (max-width: 1140px) {
  .hexapawn {
    grid-template-columns: 1fr;
  }

  .left {
    padding-top: 3rem;
    grid-row: 2;
  }

  .center {
    grid-row: 1;
  }

  .right {
    grid-row: 3;
  }

  .bot-boards {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1141px) {
  .right {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 8rem);
  }
}
