.tic-tac-toe {
  display: grid;
  grid-template-columns: 25rem 25rem 1fr;
  text-align: center;

  .board {
    margin: 0 auto;
  }

  .board-view {
    .fields {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      height: 20rem;
      width: 20rem;

      .field {
        background-color: rgb(128, 128, 128);
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 5rem;

          &.nought {
            color: #247a2a;
          }

        }
      }
    }
  }

  .game-settings {
    display: flex;

    & > div {
      margin: 1rem 1rem;
    }

    .player1, .player2 {
      width: 7rem
    }
  }

  .bot-view {
    text-align: left;

    .header {
      font-size: x-large;
      font-weight: bolder;
    }

    .header-2 {
      margin-top: 1rem;
      font-weight: bolder;
    }

    .boards {
      display: flex;
      flex-wrap: wrap;

      .board-view {
        padding: 1rem;

        .fields {
          width: 10rem;
          height: 10rem;

          .field {
            font-size: x-small;
          }

          svg {
            width: 2rem;
          }
        }
      }
    }

    .settings-controls {
      display: flex;

      & > div {
        margin: 1rem 1rem;
      }
    }
  }
}


@media only screen and (max-width: 1140px) {
  .tic-tac-toe {
    grid-template-columns: 1fr;

    & > .statistics {
      padding-top: 3rem;
      grid-row: 2;
    }

    & > .board {
      grid-row: 1;
    }

    & > .bot-view {
      grid-row: 3;

      .boards {
        justify-content: space-evenly;
      }
    }

  }


}

@media only screen and (min-width: 1141px) {
  .bot-view {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 8rem);
  }
}
